/* Padding: Top Left Bottom Right */
.main-pane {}
.login-pane {
    -fx-alignment: center;
}
.login-label {}
.login-textfield {}
.login-button {}
.myFiles-pane {}
.myURLField {}
.myFiles-label {}
.myScrollPane {}
.myFilesTable {}
.ftpFiles-label {
    -fx-padding: 0 0 0 200px;
}
.ftpFilesPane {
    -fx-padding: 0 0 0 200px;
}
.ftpFilesScroll {}
.ftpFilesView {}
.ftpURLField {}

/**
 * Shared Class Styles:
 */
.context-menu {}
.context-item {}
.icons-box {
    -fx-padding: 200px 0 0 0;
}
.icon-button {
    -fx-background-color: transparent;
}
.icon-button:hover {
    -fx-opacity: .6;
    -fx-cursor: hand;
}
.icon-button:pressed {
    -fx-opacity: .3;
}
